body{
    background-image: url("https://svoya.ucoz.ru/_ph/10/397922658.jpg") ;
    background-attachment:fixed;
    margin: 0px;
}

.answering_box{
    padding: 10px;
    font-size: 15pt;
}

a{
    color: black;
}

.answering_box select{
    width: 200px;
    font-size: 15pt;
    background-color: wheat;
}